{% extends 'base.html'%}
{% load static%}
{% block body%}
<div class="container">
	<h1>Dashboard</h1>
	<h2>Recommended users</h2>
	<div class="row">
         {% for user in users %}
          <div class="col-sm-3">
            <img class="rounded-circle" src="{% static 'webapp/profile_example.jpg'%}" alt="Generic placeholder image" width="140" height="140">
            <h2>{{user.first_name|add:" "|add:user.last_name}}</h2>
            <h4 id="user_username">@{{user.username}}</h4>
            <p>{{user.userprofile.biography}}</p>
            <p><a class="btn btn-secondary" href="{% url 'webapp:me_with_username' username=user.username %}" role="button">View profile</a></p>
          </div><!-- /.col-lg-4 -->
         {% endfor %}
    </div>
</div>
{% endblock%}