{% extends 'base.html'%}
{% load static%}
{% block body%}
<div class="container">
	<div class="row">
		
		{% if user.userprofile.profile_picture%}
			<div class="col-md-4">
			<img class="rounded-circle" src="{{user.userprofile.profile_picture.url}}" alt="" width="140" height="140">
			</div>
		{% else %}
		<div class="col-md-4">
			<img class="rounded-circle" src="{% static 'webapp/profile_example.jpg'%}" alt="" width="140" height="140">
		</div>
		{% endif%}
		
		<div class="col-md-8">
		<h2>{{user.first_name|add:" "|add:user.last_name}}</h2>
	<h4 id="user_username">@{{user.username}}</h4>
	<h4><strong>Biography:</strong></h4>
	<p>{{user.userprofile.biography}}</p>
	<h4><strong>Interests:</strong></h4>
	<ul>
		{% for interest in user_interests%}
		<li><p>{{interest}}</p></li>
		{% endfor%}
	</ul>
		</div>
	</div>
	
</div>
{% endblock%}