{% extends 'base.html'%}

{%block body%}
<div class="profile-page" style="background-color: #313f54;">
        
    <div class="page-header header-filter" data-parallax="true" style="background-image:url('{{user.userprofile.cover_picture.url}}');"></div>
      <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <!--<img style="border: 2px solid white;" src="{{user.userprofile.profile_picture.url}}" class="img-raised rounded-circle img-fluid" width="350" height="350">-->
	                            <img class="rounded-circle2" src="{{user.userprofile.profile_picture.url}}" alt="Generic placeholder image" width="140" height="140">
	                        </div>
	                        <div class="name">
	                        	<h3 class="title">{{user.first_name|add:" "|add:user.last_name}}</h3>
	                        	<h4 style="font-family: Helvetica;">Interests</h4>
	                        	{% for interest in user_interests%}
	                        	<span class='badge badge-custom partial_badge'>{{interest}}</span>
	                        	{% endfor%}
								
								{% if request.user != user%}
								<div>
				                 <a class="corazon_not_liked" href="{% url 'webapp:like_profile' operation='add' pk=user.pk source='me_with_username' destination=user.username%}"><span title="Like"><i class="far fa-heart"></i></span></a>
				                 <a class="corazon_not_liked no_like" href="#"><span title="Don't Like"><i class="fas fa-times-circle"></i></span></a>
				               </div>
				               {% endif%}
	                        </div>
	                    </div>
    	            </div>
                </div>
                <div class="description text-center">
                	<h4>Biography</h4>
                    <p>{{user.userprofile.biography}}</p>
                </div><br><br>
                {% for usuario in friends%}
                <a href="#">{{usuario.username}}</a>
                {% endfor%}
				<!--<div class="row">
					<div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                          
                        </div>
    	    	</div>
            </div>-->
            </div>
        </div>
	</div>
    <footer class="footer text-center ">
        <p style="display: inline;">weHeart 2018</p>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(".badge-custom").each(function(index){
    randomRed = (Math.floor(Math.random() * 255));
    randomGreen = (Math.floor(Math.random() * 255));
    randomBlue = (Math.floor(Math.random() * 255));
    var atribute = "rgba("+randomRed.toString()+","+randomGreen.toString()+","+randomBlue.toString()+",0.8)";
    $(this).css('background-color',atribute);
  });
</script>
{% endblock%}

